* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Code', monospace;
    background-color: #0d1117;
    min-height: 100vh;
    padding: 20px;
    color: #ccc
}

h1, h2, h3, h4{
    color:#64ffda;
    text-align: center;
}

.main {
    text-align: center;
}


/*-----------------------Hidden info and loading -------------------*/

.hidden{
    display:none !important;
}

.info-box{
    display: none;
    margin-top: 20px;
    padding:15px;
    background-color: #161b22;
    border-radius:8px;
    color:#c9d1d9;
}

.info-box span{
    color:#64ffda;
}

.loading{
    text-align: center;
    padding:40px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #667eea;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.results{
    margin-top:30px;
}

.summary{
    padding:20px;
    border-radius: 8px;
    margin-bottom:20px;
}

.stat{
    display:flex;
    justify-content: space-between;
    padding:10px 0;
    border-bottom:1px solid #e0e0e0;
}

.stat-value.danger{
    color:#dc3545;
    font-weight:bold;
}

.stat-value.success{
    color:#28a745;
    font-weight: bold;
}

/*---------------Findings-----------*/

.finding-item{
    border-left:4px solid #dc3545;
    padding:20px;
    margin-bottom:15px;
    border-radius:4px;
}

.finding-item h4 {
    color: #dc3545;
    margin-bottom: 10px;
}

.error {
    border-left: 1px solid #f5c6cb;
    color: #721c24;
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;
}

.success-message {
    border-left: 4px solid #155724;
    color: #155724;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

/*--------------------- Form view -----------------*/

.view{
    display:none;
    opacity:0;
    transition:opacity 0.25s ease;
}

.view.active{
    display:block;
    opacity:1

}

form{
    max-width:400px;
    margin:30px auto;
}

/*---------------------Buttons-------------*/

.start-btn{
    width:120px;
    align-self: start;
    padding: 0.4rem 1.2rem;
    background-color: #1e293b;
    color: #f8fafc;
    font-size: 1rem;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top:20px;
}

.start-btn.info{
    color:#64ffda;
    margin-top:30%;
}

.start-btn:hover {
  background-color: #334155;
}